<header class="main-header">
  <a href="" class="logo">New Dashboard</a>
  <nav class="navbigation navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" (click)='menuToggel()'>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="profile">
        <a class="profilelink">
            <img src="./assets/user.jpg" class="user-image">
            <span class="user-name">Alexander Pierce</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">
                    <i class="fa fa-user"></i> My Account
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-gear"></i> Account Settings
                </a>
            </li>
            <li>
                <a routerLink="/login" (click)="logout()">
                    <i class="fa fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </div>
  </nav>
</header>
