.main-section{
	margin-left: 230px;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
	background-color: #ecf0f5;
}
.small.main-section{
	margin-left: 50px;
}

.content {
    padding: 15px;
}


.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}
.content-header>h1 {
    margin: 0;
    font-size: 24px;
}
.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
    list-style: none;
}
.breadcrumb>li {
    display: inline-block;
}
.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block;
}
.breadcrumb>.active {
    color: #777;
}
.content-header>.breadcrumb>li+li:before {
    content: '>\00a0';
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.content-header>.breadcrumb>li>a>.fa {
    margin-right: 5px;
}


.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
 .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}