@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
a:hover{
	text-decoration: none !important;
}
a {
    cursor: pointer;
}
input.ng-invalid.ng-touched {
	border: 1px solid red;
}
.redItalic {
	color: red;
    font-style: italic;
}

.toggle-children,.toggle-children-placeholder {
    display: none;   
}
/* For diplay block and display none */
