@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
a:hover{
	text-decoration: none !important;
}
a {
    cursor: pointer;
}
input.ng-invalid.ng-touched {
	border: 1px solid red;
}
.redItalic {
	color: red;
    font-style: italic;
}
.main-section{
	margin-left: 230px;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
	background-color: #ecf0f5;
    height: calc(100vh - 50px);
    overflow-y: auto;
}
.collapse-menu.main-section{
	margin-left: 100px; 
}
.collapse-menu.side-navbar{
	width: 100px; 
}
/* For diplay block and display none */
